* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-icon {
    position: fixed;
    top: 80px;
    right: 15px;
    background-color: rgb(239, 71, 111);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    color: #EF476F;
}
.ab {
    color: red;
}
.about {
    padding: 50px;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align:center;
}

.about p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: justify;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
}